.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-auth-input {
    width: 100%;
    margin-bottom: 30px;
}

.auth-link {
    color: rgba(155, 49, 49, 1);
    font-weight: 700;
}


.auth-link:hover {
    color: rgba(225, 71, 78, 1);
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .auth-form {
        width: 60%;
    }
}


@media screen and (min-width: 1280px) {
    .auth-form {
        width: 50%;
    }
}