.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-auth-input {
    width: 100%;
    margin-bottom: 30px;
}

.auth-link {
    color: rgba(155, 49, 49, 1);
    font-weight: 700;
}


.auth-link:hover {
    color: rgba(225, 71, 78, 1);
    font-weight: 700;
}

.logout {
    font-size: 40px;
}

.custom-svg {
    width: 20px;
    height: 20px;

}

/* BACK OFFICE */
.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}


.box-admin {
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-admin-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}

.box-admin-link {
    margin: 0 10px;
}

.table-user {
    width: 80%;
    margin-top: 30px;
    align-items: center;
}

.container-infos-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-modif {
    background-color: rgba(155, 49, 49, 1);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

}

.btn-modif:hover {
    background-color: rgba(225, 71, 78, 1);
    color: white;
}

.modif-user {
    display: flex;
}

.inptinpt{
    margin-top: 10px;
    display: flex;
    padding-top: 10px;
}


.button-delete {
    background-color: rgba(155, 49, 49, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.account-style{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-delete:hover {
    background-color: rgba(225, 71, 78, 1);
    color: rgba(255, 255, 255, 1);
}



.admin-img-pizza {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.list-ingredient {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



.list-ingredient-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.list-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .auth-form {
        width: 60%;
    }
}


@media screen and (min-width: 1280px) {
    .auth-form {
        width: 50%;
    }
}