.title-page{
    text-align: center;
    margin : 20px 0;
    color: whitesmoke;
}

.img-pizza{
    height: 250px;
    object-fit: cover;
}

.title-detail{
    text-align: center;
    margin: 20px 0;
}

.container-pizza-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-detail{
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.info-pizza-detail{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.badge {
    position: absolute;
    top: -10px; /* Ajustez en fonction de votre mise en page */
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.hidden {
    display: none;
}


.sub-title-detail{
    margin-top: 25px;
}

.sub-title-allergene{
    color: rgba(155, 49, 49, 1);
    font-size:20px;
    margin-bottom: 2px;
}

.box-ingredient-detail{
    display: flex;
    flex-wrap: wrap;
}

.detail-description{
    color: whitesmoke;
    font-size: 14px;
    margin: 10px 5px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td{
    border: 1px solid rgba(155, 49, 49, 1);
    text-align: left;
    padding: 10px;
}

th{
    background-color: rgba(155, 49, 49, 1);
}

.allergene{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

allergene > div > span {
    margin: 0px 5px;
    font-size: 12px;
    background-color: rgba(155, 49, 49, 1) !important;
}


.container-pizza-perso{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-pizza-ingredients {
   display: flex;
   flex-direction: row;
   align-items: start;
   justify-content: center;
}

.container-pizza-perso-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-perso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-plus{
    background-color: rgba(155, 49, 49, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-plus:hover{
    background-color: rgba(225, 71, 78, 1);
    color: rgba(255, 255, 255, 1);
}

.img-container-perso
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
    margin-bottom: 30px;
}
.pizzaperso{
    width: 30%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.btn-perso{
    align-items: center;
    justify-content: center;
}
.test{
    font-family: 'dancing', sans-serif;
}

.cart{
    display: flex;
    margin: 10px;
}

.size{
    display: flex;
   width: 20%;

}


.price-display{
    color: aliceblue;
}

.box-pizza-perso {
    display: flex;
    width: 40%;
    align-items: start;
    justify-content: start;
}

.box-perso-size{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.box-perso-name{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    margin-top: 30px;
}

.name-perso{
    font-size: 20px;
    width: 30%;
    margin-left: 20px;
}

.form-perso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ingre-perso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:768px){
    .container-pizza-detail{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .box-image-detail{
        width: 40%;
        margin-top:50px;
    }
    
}